<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form method="post" name="form1">
      <table>
        <tr><td>姓 : <input type="text" class="form-control" id="first_name" name="first_name" th:value="${first_name}"/></td></tr>
        <tr><td>名 : <input type="text" class="form-control" id="last_name" name="last_name" th:value="${last_name}"/></td></tr>
        <tr><td><input type="submit" value="検索"/></td></tr>
      </table>
    </form>
    <div th:if="${resultSize > 0}"><label th:text="${resultSize}"></label>件</div>
    <table border="1" th:if="${resultSize > 0}">
      <tr>
        <td>姓</td>
        <td>名</td>
      </tr>
      <tr th:each="data : ${result}">
        <td th:text="${data.first_name}"/>
        <td th:text="${data.last_name}"/>
      </tr>
    </table>

</body>
</html>